<h1 align="center">Listing all Article</h1>


<div class="col-xs-8 col-xs-offset-2">
  <p><strong>You now have <%= @articles.count %> numbers of articles</strong></p>
</div>




<%= render 'article', obj: @articles %>