<h1>This is Your Article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<%= link_to 'Back', articles_path %> |
<td><%= link_to 'Edit', edit_article_path(@article) %></td>

